@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply m-0 min-h-screen;
  }
}

@layer components {
  a {
    @apply font-medium text-blue-600;
  }
  a:hover {
    @apply text-blue-500;
  }

  h1 {
    @apply text-4xl leading-tight;
  }

  button {
    @apply rounded px-4 py-2 border border-transparent bg-gray-900 font-medium text-white hover:border-blue-600;
  }
  button:hover {
    @apply border-blue-600;
  }
  button:focus,
  button:focus-visible {
    @apply outline-none ring-2 ring-blue-600;
  }
}

@layer utilities {
  .dark-mode {
    :root {
      color: rgba(255, 255, 255, 0.87);
      background-color: #242424;
    }
    a:hover {
      color: #535bf2;
    }
    button {
      background-color: #1a1a1a;
    }
  }
  .light-mode {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
}
